click==6.6
defusedxml==0.4.1
Django==1.9.6
django-admin-tools==0.7.2
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
Magic-file-extensions==0.2
MarkupSafe==0.23
pyliblzma==0.5.3
pytz==2014.10
SOAPpy==0.12.22
sqlparse==0.1.18
vboxapi==1.0
Werkzeug==0.11.10
wstools==0.4.3
youtube-dl==2016.2.22
