/*
PROJETO INTEGRADOR - SI INTEGRADOR
JOELSON
LEONARDO
LUCAS
RAFAEL
*/
/* RESPONSIVIDADE */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
[class*="col-"] {
    float: left;
}
.linha:after {
    content: "";
    display: block;
    clear: both;
}
.caixa {
    margin: 0 17%;
}
.caixafluida {
    margin: 0;
    background-color: #E5E5E5;
    height: auto;
    box-shadow: -1px 10px 51px -10px rgba(0, 0, 0, 0.49);
}
/* FIM RESPONSIVIDADE */

body {
    background-image: url('/static/Imagens/background.jpg');
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
}
.espaco {
    min-height: 71px;
}
/* MENU */

.logo {
    float: left;
    width: 239px;
    height: 39px;
    margin: 25px 0px 0 32px;
}
.mainmenu {
    float: left;
    width: 100%;
    height: auto;
}
.menu {
    z-index: 2;
    min-height: 80px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: -10px;
    width: 70%;
    left:50%;
    margin-left: -35%;
    box-shadow: -1px 10px 51px -10px rgba(0, 0, 0, 0.49);
}
ul.opcoes {
    float: right;
    list-style-type: none;
    margin: 33px 16px 0 0;
    padding: 0;
    word-spacing: 15px;
    font-family: Calibri;
    font-size: 15px;
    font-weight: bold;
    color: #097c68;
}
ul.opcoes li {
    display: inline;
}
ul.opcoes li.icon {
    display: none;
}
li a {
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: white;
    position: relative;
    padding: 27px 15px 29px 15px;
    text-decoration: none;
    background-color: white;
    color: black;
}
li a:hover {
    color: white;
    background-color: #097c68;
    padding: 27px 15px 29px 15px;
}

.menuIndex li a:hover {
    color: white;
    background-color: #52B6EC;
    padding: 27px 15px 29px 15px;
}

li a:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    left: calc(50% - 10px);
    bottom: 0;
    border-width: 10px 10px 0 10px;
    border-color: #097c68 transparent transparent transparent;
}
li a:hover:before,
li a:focus:before,
li a:active:before {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    color: white;
}
@media screen and (max-width: 1102px) {
    ul.opcoes li:not(:first-child) {
        display: none;
    }
    ul.opcoes li.icon {
        float: right;
        display: inline-block;
    }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width: 1102px) {
    ul.opcoes.responsive {
        position: relative;
    }
    ul.opcoes.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.opcoes.responsive li {
        float: none;
        display: inline;
    }
    ul.opcoes.responsive li a {
        display: block;
        text-align: right;
    }
}
/* SLIDE */

.Texto01 {
    min-height: 300px;
    vertical-align: middle;
    text-align: center;
}
.Texto01 p {
    text-align: center;
    margin-top: 115px;
}
/* O QUE FAZEMOS */

.projeto {
    height: auto;
    background-color: white;
    border-radius: 6px;
    width: 100%;
    margin-top: 9px;
}
.Titulo01 {
    margin: auto;
    width: 265px;
    height: 39px;
}
.Titulo01 img {
    margin-top: 15px;
}
.Projeto01 {
    width: 100%;
    height: 220px;
}
.Projeto01 p {
    font-family: calibri;
    font-size: 14px;
}
.Projeto02 {
    width: 100%;
}

.Projeto02 p {
    font-family: calibri;
    font-size: 14px;
}
.Projeto03 {
    width: 100%;
    height: 220px;
}
.Projeto03 p {
    font-family: calibri;
    font-size: 14px;
}
.projetocentro {
    color: #9E9E9E;
    text-align: center;
    margin-top: 45px;
    padding: 10px;
}
/* QUEM SOMOS */

.sobre {
    height: auto;
    background-color: #F3F3F3;
    width: 100%;
    margin-top: -9px;
    border-top: solid #E9E9E9;
}
.imagem01 {
    float: left;
    margin: auto;
    width: 100%;
}
.imagem01 img {
    float: left;
    width: 100%;
    margin: 30px 0 0 33px;
}
.textosobre {
    float: left;
    padding: 5px;
    margin: 17px 0 0 42px;
}
.textosobre p {
    padding: 4px;
    color: #9E9E9E;
    font-family: calibri;
    font-size: 14px;
}
/* CURSOS */

.projetocursos {
    z-index: 1;
    height: auto;
    background-color: #F9F9F9;
    width: 100%;
    border-top: solid #E9E9E9;
    margin-top: 10px;
}
.curso {
    width: 100%;
}

.curso img {
    width: 210px;
}

.descrVideo {
  margin-left: 40px;
  text-align: left;
}

/* RODAPÉ */

.nomeprojeto {
    height: auto;
    width: 100%;
}
.direitos {
    text-align: center;
    margin: auto;
    width: 100%;
}
.direitos p {
    font-family: calibri;
    font-size: 15px;
    margin-top: 28px;
    font-weight: bold;
    color: #676759;
}
.logofinal {
    margin: 10px;
    text-align: center;
    margin-top: 6px;
}
.iftm {
    margin: 10px;
    text-align: right;
    margin-top: 6px;
}

/* CONTATO */

.projetocontato {
    min-height: 400px;
    background-color: #222222;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.formContato {
  margin-top: 30px;
  margin-left: 30px;
}

.formContato input {
  border-radius: 5px;
  border: 0px;
  margin: 6px;
  height: 30px;
  padding: 8px;
  background-color: #0f0f0a;
  width: 190px;
}

.formContato textarea {
  border-radius: 5px;
  border: 0px;
  margin: 5px;
  height: 150px;
  padding: 8px;
  background-color: #0f0f0a;
  width: 400px;
  resize: none;
}

.courseImage {
  width: 250px;
}

#submitContato {
  height: 40px;
  width: 180px;
  background-color: #ff4d4d;
  color: white;
}

.contatoImg {
  width: 300px;
  position: relative;
  top: 35px;
  left: 20px;
}

.material {

}

.material a {
  transition: color .4s;
  color: #265C83;
  text-decoration: none;
  font-size: 25px;
  border: 2px solid #265C83;
  padding: 10px;
  border-radius: 5px;
}

.material a:link,
.material a:visited { color: #265C83; }
.material a:hover   {
  color: #7FDBFF;
  border: 2px solid #7FDBFF
}
.material a:active  {
  transition: color .3s;
  color: #007BE6;
}

/* PÁGINA CURSOS */

.formulario {
  background-color: white;
  padding: 15px;
}

.formulario input[type="submit"] {
  height: 40px;
  width: 180px;
  background-color: #ff4d4d;
  color: white;
  border-radius: 5px;
  border: 0px;
  float: right;
}

.certificado {
  width: 100%;
}
.cert {
  width: 100%;
  height: 620px;
  position: relative;
  -webkit-print-color-adjust: exact;
}

@media print {
  * :not(.cert) {
    display: none;
  }

  .cert {
    display: block;
  }

}

.webdesign_cert {
  background-image: url('/static/Imagens/certificados/webdesign_cert.jpg');
  background-repeat: no-repeat;
}

.arquitetura_cert {
  background-image: url('/static/Imagens/certificados/arquitetura_cert.jpg');
  background-repeat: no-repeat;
}

.ingles_cert {
  background-image: url('/static/Imagens/certificados/ingles_cert.jpg');
  background-repeat: no-repeat;
}

.logica_cert {
  background-image: url('/static/Imagens/certificados/logica_cert.jpg');
  background-repeat: no-repeat;
}

.metodologia_cert {
  background-image: url('/static/Imagens/certificados/metodologia_cert.jpg');
  background-repeat: no-repeat;
}

.sistemasop_cert {
  background-image: url('/static/Imagens/certificados/sistemasop_cert.jpg');
  background-repeat: no-repeat;
}

#nomeAluno {
  text-align: center;
  font-size: 25px;
  position: relative;
  top: 290px;
}

#data {
  font-size: 15px;
  position: relative;
  top: 420px;
  left: 210px;
}

/* VIDEOAULAS */
.textovideo {width: 100%; height: auto;}
.projetovideo {color:#9E9E9E; text-align: center; margin-top: 30px; padding: 10px; }
.video01 {width: 100%; height: auto;}

/* MATERIAL */
.projetoexer {z-index:1; height: auto; background-color: #F9F9F9; width: 100%; border-top: solid #E9E9E9; }
.imagemmaterial {margin: auto; width: 100%; height: auto;}
.imagemmaterial img {width:80%; margin-top:-10px;}

/* QUESTIONÁRIOS */
.projetoexer {z-index:1; height: auto; background-color: #F9F9F9; width: 100%; border-top: solid #E9E9E9; }
.questimagem {margin: auto; width: 265px; height: 39px;}
.questimagem img {margin-top: 15px;}
