{% extends "base_forms.html" %}
{% block body %}

<h2>Arquitetura e organização de computadores</h2>
 <h3>Video 1</h3>
 <p><b>1) Valor da soma 101101101 + 1011011 em binário:</b> <br>
  <form id="questionario">
    <input status="certa" type="radio" name="questao01" value="A"> a) 111001000  <br>
    <input type="radio" name="questao01" value="B"> b) 1100110  <br>
    <input type="radio" name="questao01" value="C"> c) 111101100010  <br>
    <input type="radio" name="questao01" value="D"> d) 11000 <br><br>
 </p>
 <p><b>2) Valor da Subtraçao 11011101 – 1101 em binário: </b> <br>
    <input type="radio" name="questao02" value="A"> a) -1101  <br>
    <input status="certa" type="radio" name="questao02" value="B"> b) 11010000 <br>
    <input type="radio" name="questao02" value="C"> c) 111000010  <br>
    <input type="radio" name="questao02" value="D"> d) 1001 <br><br>
 </p>
 <p><b>3) Valor da Multiplicação 11111111011 x 10 em binário: </b> <br>
    <input type="radio" name="questao03" value="A"> a) 10000111 <br>
    <input type="radio" name="questao03" value="B"> b) 1010001101001 <br>
    <input status="certa" type="radio" name="questao03" value="C"> c) 111111110110 <br>
    <input type="radio" name="questao03" value="D"> d) 11110 <br><br>
 </p>
 <p><b>4) Valor da divisao  1101110 / 101 de Binário:</b> <br>
    <input type="radio" name="questao04" value="A"> a) 11011 <br>
    <input status="certa" type="radio" name="questao04" value="B"> b) 10110<br>
    <input type="radio" name="questao04" value="C"> c) 1001 <br>
    <input type="radio" name="questao04" value="D"> d) 11110 <br><br>
 </p>
 <p><b>5) Valor (111 x 10) – 1101 + 11 em binário: </b> <br>
    <input type="radio" name="questao05" value="A"> a) 1011011 <br>
    <input type="radio" name="questao05" value="B"> b) 100011 <br>
    <input status="certa" type="radio" name="questao05" value="C"> c) 100 <br>
    <input type="radio" name="questao05" value="D"> d) 111 <br><br>
 </p>
 <h3>Video 2</h3>
 <p><b>1) qual o valor 11100111 convertido da Base 2 (binária) para a Base 8 (octal): </b> <br>
    <input status="certa" type="radio" name="questao06" value="A"> a) 347 na base 8 <br>
    <input type="radio" name="questao06" value="B"> b) 427 na base 8 <br>
    <input type="radio" name="questao06" value="C"> c) 241 na base 8  <br>
    <input type="radio" name="questao06" value="D"> d) 100 na base 8  <br><br>
</p>
 <p><b>2) a conversao de 327 da Base 8 (octal) para a Base 2 (Binária): </b> <br>
    <input type="radio" name="questao07" value="A"> a) 11011101 na base 2<br>
    <input status="certa" type="radio" name="questao07" value="B"> b) 11010111 na base 2<br>
    <input type="radio" name="questao07" value="C"> c) 11011111 na base 2<br>
    <input type="radio" name="questao07" value="D"> d) 10010111 na base 2<br><br>
</p>
 <p><b>3) Qual a conversao 11100111 da base 2 (Binária) para a base 16 (hexadecimal): </b> <br>
    <input type="radio" name="questao08" value="A"> a) E616 na base 16<br>
    <input type="radio" name="questao08" value="B"> b) A4 na base 16<br>
    <input type="radio" name="questao08" value="C"> c) D2 na base 16<br>
    <input status="certa" type="radio" name="questao08" value="D"> d) E7 na base 16<br><br>
</p>
<p><b>4) ­Qual a conversao 3A21 da base 16 (hexadecimal) para a base 2 (binária): </b> <br>
    <input status="certa" type="radio" name="questao09" value="A"> a) 1110100010 na base 2 <br>
    <input type="radio" name="questao09" value="B"> b) 110100010 na base 2 <br>
    <input type="radio" name="questao09" value="C"> c) 1100010 na base 2 <br>
    <input type="radio" name="questao09" value="D"> d) 10101010 na base 2<br><br>
</p>
<p><b>5) A conversao do valor 329 em decimal  para as bases 2, 8 e 16: </b> <br>
    <input type="radio" name="questao10" value="A"> a) 101001001 na base 2 /511 na base 8 /1491 na base 16 <br>
    <input type="radio" name="questao10" value="B"> b) 100011100 na base 2 /434 na base 8 /11C1 na base 16 <br>
    <input type="radio" name="questao10" value="C"> c) 1100011 na base 2 /143 na base 8 /631 na base 16 <br>
    <input type="radio" name="questao10" value="D"> d) 1110000 na base 2 /160 na base 8 /701 na base 16 <br><br>

    <input type="submit" value="Enviar">
  </form>
</p>

{% endblock %}
