{% extends "base_forms.html" %}
{% block body %}

<h2>Ingles Instrumental</h2>
 <h3>Video 1</h3>
 <p style="text-align:justify;">Botox injections are one of the most popular cosmetic treatments in the world.
Celebrities like Madonna, Kylie Minogue and Liz Hurley are rumoured to be keeping
the wrinkles at bay this way. Sir Cliff Richard admitted to having had the treatment and
now it is an increasingly popular choice for ordinary women looking for a quick way to
look younger.
What is Botox?
Botox is made from 'botulinum toxin', a poison produced by the bacterium
Clostridium botulinum. This bacterium causes botulism - a severe form of food
poisoning. In small quantities, however, Botox merely interrupts nerve impulses to
muscles in the face.
Botox first began to be used in 1980 to treat many muscle disorders such as
lazy eye, eye ticks and uncontrolled blinking. Cosmetic treatments were pioneered by
dermatological surgeons in 1987. In small doses, Botox works by paralysing the
muscles of the face which are used in frowning and raising the eyebrows. When these
muscles relax, the fine lines and wrinkles smooth out. Unfortunately, when it is
overdone, Botox treatment can leave the face with a lack of expression. This is reputed
to have caused a problem for some actors.
Armpit attack
Botox is reportedly a favourite with Oscar nominees who don't want to work up
a sweat on the red carpet. Some stars have injections in their armpits to paralyse the
sweat glands there. This way they can receive their awards knowing they don't have
sweaty patches under their arms and hand back their couture outfits unstained.
How long does it last?
Injections take effect about three to seven days after treatment and the effect
lasts three or four months. A treatment costs roughly £200. With repeated treatments,
atrophy or thinning of the muscles occurs, which produces longer lasting results. Botox
may be unsuitable for use around the mouth as the muscles there are important for
facial expressions and eating.
Side effects
Soreness or mild bruising can occur around the injection site. In rare instances
patients may experience a droopy eyebrow or eyelid. Headaches can also occur. Since
it is still a relatively new treatment, any possible side effects of long-term use are still
unknown. Botox should only be administered by experienced and well-trained doctors
or nurses. A high dose could cause poisoning, or an exaggerated effect.
Botox and Bollinger
Botox parties are causing concern amongst practitioners. People are receiving
treatments whilst sipping champagne. The American Academy of Dermatology has
warned against this practice. Alcohol and Botox do not mix well.
Not only can booze intensify bruising but it can also wash the toxin away from the
target muscle.</p>
 <p><b>1) Como as injeções de Botox nas axilas evitam que algumas celebridades suem durante o
Oscar?</b> <br>
  <form id="questionario">
    <input status="certa" type="radio" name="questao01" value="A"> a) O Botox causa o relaxamento dos músculos da axila.  <br>
    <input type="radio" name="questao01" value="B"> b) O Botox é usado em uma fina camada de gel protetor.  <br>
    <input type="radio" name="questao01" value="C"> c) O Botox paralisa as glândulas sudorÌferas.  <br>
    <input type="radio" name="questao01" value="D"> d) O Botox enrijece a pele e as axilias. <br><br>
 </p>
 <p><b>2) Que outra palavra/expressão significa 'thinning of the muscles'? </b> <br>
    <input status="certa" type="radio" name="questao02" value="A"> a) Clostridium botulinum  <br>
    <input type="radio" name="questao02" value="B"> b) Atrophy <br>
    <input type="radio" name="questao02" value="C"> c) botulinum toxin  <br>
    <input type="radio" name="questao02" value="D"> d) Bollinger <br><br>
 </p>
 <p><b>3) Que alternativa NÃO È um possÌvel efeito colateral do uso do Botox? </b> <br>
    <input status="certa" type="radio" name="questao03" value="A"> a) Headaches <br>
    <input type="radio" name="questao03" value="B"> b) blurred vision <br>
    <input type="radio" name="questao03" value="C"> c) droopy eyebrow <br>
    <input type="radio" name="questao03" value="D"> d) mild bruising <br><br>
 </p>
 <p><b>4) Que entidade médica alertou as pessoas sobre a mistura de Botox e álcool?</b> <br>
    <input status="certa" type="radio" name="questao04" value="A"> a) The American Medical Association <br>
    <input type="radio" name="questao04" value="B"> b) The American Institute of Cosmetic Surgery<br>
    <input type="radio" name="questao04" value="C"> c) The American and Canadian Joint Medical Council <br>
    <input type="radio" name="questao04" value="D"> d) The American Academy of Dermatology <br><br>
 </p>
 <p><b>5) O que é butolismo? </b> <br>
    <input status="certa" type="radio" name="questao05" value="A"> a) Uma forma severa de envenenamento por alimentação <br>
    <input type="radio" name="questao05" value="B"> b) Uma forma severa de envenenamento no sangue <br>
    <input type="radio" name="questao05" value="C"> c) Uma forma severa de avaria no fígado <br>
    <input type="radio" name="questao05" value="D"> d) Uma forma severa de dermatite <br><br>
 </p>
 <h3>Video 2</h3>
 <p><b>1) She _______ away from the police. </b> <br>
    <input status="certa" type="radio" name="questao06" value="A"> a) Running <br>
    <input type="radio" name="questao06" value="B"> b) Runing <br>
    <input type="radio" name="questao06" value="C"> c) Runnying <br>
    <input type="radio" name="questao06" value="D"> d) Run <br><br>
</p>
 <p><b>2) We're not _______ to our parents. </b> <br>
    <input status="certa" type="radio" name="questao07" value="A"> a) Lieing <br>
    <input type="radio" name="questao07" value="B"> b) Lying <br>
    <input type="radio" name="questao07" value="C"> c) Ling <br>
    <input type="radio" name="questao07" value="D"> d) Lie <br><br>
</p>
 <p><b>3) Animals _______ in Amazonia. </b> <br>
    <input status="certa" type="radio" name="questao08" value="A"> a) Dying <br>
    <input type="radio" name="questao08" value="B"> b) Dieing <br>
    <input type="radio" name="questao08" value="C"> c) Ding <br>
    <input type="radio" name="questao08" value="D"> d) Die <br><br>
</p>
<p><b>4) ­They're _______ lots of money. </b> <br>
    <input status="certa" type="radio" name="questao09" value="A"> a) Making <br>
    <input type="radio" name="questao09" value="B"> b) Makeing <br>
    <input type="radio" name="questao09" value="C"> c) Makeying <br>
    <input type="radio" name="questao09" value="D"> d) Make<br><br>
</p>
<p><b>5) Are you _______ now? </b> <br>
    <input status="certa" type="radio" name="questao10" value="A"> a) Stoping <br>
    <input type="radio" name="questao10" value="B"> b) Stopping <br>
    <input type="radio" name="questao10" value="C"> c) Stoppying <br>
    <input type="radio" name="questao10" value="D"> d) Stop <br><br>
    <input type="submit" value="Enviar">
  </form>
</p>

{% endblock %}
