{% extends "base_forms.html" %}
{% block body %}
<h2>Metodologia Científica</h2>
 <h3>Video 1</h3>
 <p><b>1) Sobre Conhecimento Popular e CORRETO Afirmar:</b> <br>
  <form id="questionario">
    <input status="certa" type="radio" name="questao01" value="A"> a) Conhecimento popular: aquele difundido de geração em geração, do boca a boca necessita da experimentação e comprovação. Exemplo: ditados populares  <br>
    <input type="radio" name="questao01" value="B"> b) Conhecimento popular: aquele obtido através do empirismo, da experimentação e comprovação. Exemplo: Leis físicas, reações químicas.  <br>
    <input type="radio" name="questao01" value="C"> c) Conhecimento popular: aquele difundido de geração em geração, do boca a boca, não necessita exatamente de experimentação e comprovação. Exemplo: ditados populares  <br>
    <input type="radio" name="questao01" value="D"> d) Conhecimento popular: aquele difundido de geração em geração, do boca a boca da experimentação e comprovação. Exemplo: Leis físicas, reações químicas. <br><br>
 </p>
 <p><b>2) Sobre conhecimento cientifico é incorreto afirmar que:</b> <br>
    <input status="certa" type="radio" name="questao02" value="A"> a) Conhecimento científico: aquele obtido através do empirismo, da experimentação e comprovação. Exemplo: Leis físicas, reações químicas.  <br>
    <input type="radio" name="questao02" value="B"> b) Conhecimento cientifico é Real, Sistemático, Sensitivo e Acrítico. <br>
    <input type="radio" name="questao02" value="C"> c) Conhecimento cientifico: aquele difundido de geração em geração, do boca a boca necessita da experimentação e comprovação. Exemplo: ditados populares  <br>
    <input type="radio" name="questao02" value="D"> d) Todas as alternativas são verdadeiras. <br><br>
 </p>
 <p><b>3) Sobre 4 Características do Conhecimento Popular e 4 Características do conhecimento cientifico, marque a (as) alternativas verdadeiras: </b> <br>
    <input status="certa" type="radio" name="questao03" value="A"> a) Popular: Superficial – Conforma-se com a aparência, Sensitivo – Referente a vivências, Assistemática – Não visa a organização das ideias, acrítico. <br>
    <input type="radio" name="questao03" value="B"> b) Cientifico: Real – Lida com ocorrência ou fatos, Sistemático – Sistematização de ideias, é comprovado, e aproximadamente exato <br>
    <input type="radio" name="questao03" value="C"> c) popular: Real – Lida com ocorrência ou fatos, Sistemático – Sistematização de ideias, Sensitivo – Referente a vivências, Assistemática – Não visa a organização das ideias. <br>
    <input type="radio" name="questao03" value="D"> d) Cientifico: Superficial – Conforma-se com a aparência, Sistemático – Sistematização de ideias <br><br>
 </p>
 <p><b>4) Assinale a alternativa Correta sobre a diferença entre Conhecimento Popular e Cientifico?</b> <br>
    <input status="certa" type="radio" name="questao04" value="A"> a) A diferença parte por fim da base do conhecimento (cultura, experimentação, religião, mito, etc.) e de como ele foi empregado em determinado contexto histórico. <br>
    <input type="radio" name="questao04" value="B"> b) A diferença parte da ideologia do saber e de como ele foi empregado em determinado contexto histórico.<br>
    <input type="radio" name="questao04" value="C"> c) A diferença parte por fim da base do conhecimento (cultura, experimentação, religião, mito, etc.) e de como ele foi usado no nosso cotidiano. <br>
    <input type="radio" name="questao04" value="D"> d) Não Existe diferença entre conhecimento cientifico e conhecimento popular. <br><br>
 </p>
 <p><b>5) Assinale as alternativas que são exemplos de Conhecimento Popular: </b> <br>
    <input status="certa" type="radio" name="questao05" value="A"> a) Chá de camomila acalma. <br>
    <input type="radio" name="questao05" value="B"> b) Mastigar gengibre é bom para a garganta. <br>
    <input type="radio" name="questao05" value="C"> c) As mudanças da lua influenciando as marés. <br>
    <input type="radio" name="questao05" value="D"> d) Gatos de três cores são fêmeas. <br><br>
 </p>
 <h3>Video 2</h3>
 <p><b>1) Sobre o Estilo de Apresentação de algo presumivelmente melhor, é CORRETO Afirmar: </b> <br>
    <input type="radio" name="questao06" value="B"> b) Não é Necessário se fazer testes para demonstrar que seu produto ou abordagem é melhor; <br>
    <input status="certa" type="radio" name="questao06" value="A"> a) É necessário que seja melhor em todos aspectos e em todas situações <br>
    <input type="radio" name="questao06" value="C"> c) Comparar a nova abordagem com outra que seja estado da arte; <br>
    <input type="radio" name="questao06" value="D"> d) Definir métricas para se ter comparações superficiais; <br><br>
</p>
 <p><b>2) Sobre o Estilo de Apresentação de algo reconhecidamente melhor, é INCORRETO Afirmar: </b> <br>
    <input status="certa" type="radio" name="questao07" value="A"> a) Deve se ter uma apresentação cujo os resultados são apresentados em função de padronizados; <br>
    <input type="radio" name="questao07" value="B"> b) Se testa outras abordagens; <br>
    <input type="radio" name="questao07" value="C"> c) Usa-se de entrada parametrizada; <br>
    <input type="radio" name="questao07" value="D"> d) Caso o resultado for melhor que o padrão. O resultado se torna em estado da arte. <br><br>
</p>
 <p><b>3) Sobre o Estilo de Apresentação de um produto, marque a alternativa correta: </b> <br>
    <input type="radio" name="questao08" value="B"> b) Facilmente se publica um novo método para análise de sistemas. <br>
    <input status="certa" type="radio" name="questao08" value="A"> a) Dificilmente se publica algo em que tenha um comparativo entre ferramentas. <br>
    <input type="radio" name="questao08" value="C"> c) O desenvolvimento de um sistema e sua apresentação não podem ser considerados um Trabalho relevante em cursos de graduação ou especialização. <br>
    <input type="radio" name="questao08" value="D"> d) Sempre se publica uma apresentação de um sistema Desenvolvido. <br><br>
</p>
<p><b>4) ­Sobre o Estilo de Apresentação de algo diferente, marque a opcão verdadeira: </b> <br>
    <input type="radio" name="questao09" value="A"> a) Não é necessário se ter uma boa hipótese, a construção da teoria para a argumentação. <br>
    <input type="radio" name="questao09" value="B"> b) Os 3 Passos desta apresentação são: 1º analisa-se as diferentes propriedades de casa uma das abordagens construindo uma tabela/ 2º verifica-se as formas correntes de resolver o problema, e 3º identificando os artefatos pode-se proceder a criação de algo novo. <br>
    <input type="radio" name="questao09" value="C"> c) Não tem que se achar uma forma diferente de resolver uns problemas. <br>
    <input status="certa" type="radio" name="questao09" value="D"> d) Os 3 Passos desta apresentação são: 1º verifica-se as formas correntes de resolver o problema /2º analisa-se as diferentes propriedades de casa uma das abordagens construindo uma tabela, e 3º identificando os artefatos pode-se proceder a criação de algo novo.<br><br>
</p>
<p><b>5) Sobre a Apresentação de uma prova e Correto afirmar: </b> <br>
    <input status="certa" type="radio" name="questao10" value="A"> a) deve-se construir uma teoria, afirmando claramente os conceitos que, aplicados não gerem nenhum resultado especifico. <br>
    <input type="radio" name="questao10" value="B"> b) na apresentação de uma prova, deve-se construir uma teoria, afirmando claramente os conceitos que, aplicados geram determinados resultados. <br>
    <input type="radio" name="questao10" value="C"> c) deve-se pegar uma teoria já feita, afirmando claramente os conceitos que, aplicados geram determinados resultados. <br>
    <input type="radio" name="questao10" value="D"> d) na apresentação de uma prova, deve-se construir uma teoria, e gerar determinados resultados. <br><br>

    <input type="submit" value="Enviar">
  </form>
</p>
{% endblock %}
