<!DOCTYPE html>
	<html>
		<head>
		<title>Select Box Control</title>
	</head>
		<body>


		 <h2>Lógica de programação</h2>
		 <h3>Video 1</h3>
		 <p><b>1) Considerando dois valores inteiros X e Y. Qual alternativa abaixo representa corretamente que X deve ser MAIOR ou IGUAL a Y?</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) (x < y) <br>
				<input type="radio" name="subject" value="B"> b) (x >= y) <br> <!--CERTA-->
				<input type="radio" name="subject" value="C"> c) (x == y) <br>
				<input type="radio" name="subject" value="D"> d) (x != y) <br><br>
			</form>
		 </p>
		 <p><b>2) Escolha a alternativa que defina o operador lógico da expressão abaixo:</b> <br>
			<br>
		 	if(X % 2 ? 0){ <br>
				System.out.println("PAR");<br>
				}else{<br>
				System.out.println("IMPAR");<br>
				}<br>
			<form>
				<input type="radio" name="subject" value="A"> a) != <br>
				<input type="radio" name="subject" value="B"> b) >= <br>
				 <input type="radio" name="subject" value="C"> c) == <br>  <!--CERTA-->
				<input type="radio" name="subject" value="D"> d) <= <br><br>
			</form>
		 </p>
 		 <p><b>3) Escolha a alternativa que defina que X deve ser DIFERENTE de 10 OU X deve ser MAIOR que 0: </b> <br>
 		 <br>
 		 if(X ? 10) ? (X ? 0){<br>
			System.out.println("PAR");<br>
			}else{<br>
			System.out.println("IMPAR");<br>
			}<br>
			<form>
				<input type="radio" name="subject" value="A"> a) ­ != , || , > <br><!--CERTA-->
				<input type="radio" name="subject" value="B"> b) >= , && , < <br>
				<input type="radio" name="subject" value="C"> c) == , || , > <br>
				<input type="radio" name="subject" value="D"> d) ­ != , && , > <br><br>
			</form>
		 </p>
		 <p><b>4) Considerando dois valores inteiros X e Y. Escolha a alternativa que representa corretamente que X deve ser MAIOR que Y E X deve ser DIFERENTE de 10?</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) ((x > y) && (X != 10)) <br><!--CERTA-->
				<input type="radio" name="subject" value="B"> b) ((x < y) || (X < 10)) <br>
				<input type="radio" name="subject" value="C"> c) ­((x == y) || (X > 10))<br>
				<input type="radio" name="subject" value="D"> d) ­((x >= y) && (X != 10)) <br><br>
			</form>
		 </p>
		 <p><b>5) Considerando dois valores inteiros X e Y. Escolha a alternativa que representa corretamente que X deve ser IGUAL a Y E DIFERENTE de Z? </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) ((x == y) && (X != Z)) <br><!--CERTA-->
				<input type="radio" name="subject" value="B"> b) ­((x < y) || (X < Z)) <br>
				<input type="radio" name="subject" value="C"> c) ((x == y) || (X > Z))<br>
				<input type="radio" name="subject" value="D"> d) ­((x >= y) && (X != Z)) <br><br>
  				<input type="submit" value="Submit">
			</form>
		 </p>
		 <h3>Video 2</h3>
		 <p><b>1) Considerando N == 0. Qual alternativa abaixo mostrará para o usuário uma contagem até 10?</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) while (n<=10){ System.out.println(n); n++; } <br> <!--CERTA-->
				<input type="radio" name="subject" value="B"> b) while (n==10){System.out.println(n); n­­; } <br>
				<input type="radio" name="subject" value="C"> c) while (n>=10){System.out.println(n+1); n++; } <br>
				<input type="radio" name="subject" value="D"> d) while (n< 10){System.out.println(n); n+; } <br><br>
			</form>
		</p>
		 <p><b>2) Considerando o pedaço de código abaixo. Qual alternativa mostra corretamente a saida?(considere N == 0)</b> <br><br>
			for(int i=n;i<=2;i++){<br>
			System.out.println("OI");<br>
			}<br>
			0bs: Considere ',' como uma quebra de linha.<br>
			<form>
				<input type="radio" name="subject" value="A"> a) OI,OI,OI <br> <!--CERTA-->
				<input type="radio" name="subject" value="B"> b) OI,OI,OI,OI <br>
				<input type="radio" name="subject" value="C"> c) OI,OI <br>
				<input type="radio" name="subject" value="D"> d) OI <br><br>
			</form>
		</p>
		 <p><b>3) Considerando o pedaço de código abaixo. Qual alternativa mostra corretamente a saida?(considere N == 0)</b> <br><br>
			for(int i=n;i<=10;i++){<br>
			System.out.println(i);<br>
			}<br>
			0bs: Considere ',' como uma quebra de linha.<br>
			<form>
				<input type="radio" name="subject" value="A"> a) 0,1,2,3,4,5,6,7,8,9,10 <br> <!--CERTA-->
				<input type="radio" name="subject" value="B"> b) 1,2,3,4,5,6,7,8,9,10,11 <br>
				<input type="radio" name="subject" value="C"> c) ­0,2,3,4,5,6,7,8,9 <br>
				<input type="radio" name="subject" value="D"> d) ­1,2,3,4,5,6,7,8,9 <br><br>
			</form>
		</p>
		<p><b>4) Considerando os pedaços de código abaixo. Qual das duas alternativas mostra corretamente a saida?(considere N == 0)</b> <br><br>
			1­- for(int i=n;i<=10;i++){<br>
			System.out.println(i);<br>
			}<br><br>
			2­- while (n<=10){<br>
			System.out.println(n);<br>
			n++;
			}<br>
			<form>
				<input type="radio" name="subject" value="A"> a) As duas imprimem o mesmo resultado. <br> <!--CERTA-->
				<input type="radio" name="subject" value="B"> b) Apenas a 1. <br>
				<input type="radio" name="subject" value="C"> c) ­Apenas a 2. <br>
				<input type="radio" name="subject" value="D"> d) ­Nenhuma das duas. <br><br>
			</form>
		</p>
		<p><b>5) Qual dos códigos abaixo imprimem a frase "Bom dia" 5 vezes?(considere N == 0)<br>
0bs: Considere ',' como uma quebra de linha. </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) for(int i=n;i<=4;i++){System.out.println("Bom dia"); } <br> <!--CERTA--><input type="radio" name="subject" value="B"> b) for(int i=n;i<=5;i++){System.out.println("Bom dia"); } <br>
				<input type="radio" name="subject" value="C"> c) ­while (n<=5){System.out.println("Bom dia"); n++; } <br>
				<input type="radio" name="subject" value="D"> d) ­­while (n< 4){System.out.println("Bom dia"); n++; } <br><br>
				<input type="submit" value="Submit">
			</form>
		</p>


		<!-- TROCA DE MATERIA -->
		<h2>Fundamentos de web design</h2>
		 <h3>Video 1</h3>
		 <p><b>1) O que significa html?</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) Hypertext Markup Language <br>
				<input type="radio" name="subject" value="B"> b) Hyperlink Markup Language <br>
				<input type="radio" name="subject" value="C"> c) Hyperprogamming Markup Language <br>
				<input type="radio" name="subject" value="D"> d) Nenhuma das anteriores <br><br>
			</form>
		 </p>
		 <p><b>2) Qual tag da maior importancia para uma parte do seu texto?</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) strong <br>
				<input type="radio" name="subject" value="B"> b) ins <br>
				<input type="radio" name="subject" value="C"> c) em <br>
				<input type="radio" name="subject" value="D"> d) u <br><br>
			</form>
		 </p>
 		 <p><b>3) Quais tags são essenciais para sua página na internet? </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) ­html,head,body <br>
				<input type="radio" name="subject" value="B"> b) head, body, foot <br>
				<input type="radio" name="subject" value="C"> c) html, meta, color <br>
				<input type="radio" name="subject" value="D"> d) ­html, body <br><br>
			</form>
		 </p>
		 <p><b>4) A tag H1 é usada para titulos em seu documento HTML, responda a alternativa correta</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) H1 é uma tag usada de maneira unica, não pode ser alterada no css <br>
				<input type="radio" name="subject" value="B"> b) A Tag h1 pode substituir a tag title em seu documento <br>
				<input type="radio" name="subject" value="C"> c) ­A tag h1 é um parametro que pode ser editado com css, assim como h2, h3, p e etc. <br>
				<input type="radio" name="subject" value="D"> d) ­H1 pode ser usada como um atributo no meta para dar enfase na sua tag title <br><br>
			</form>
		 </p>
		 <p><b>5) Sobre links, é correto afirmar: </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) A tag &lta> &lt/a> é a mais apropriada para usar em links <br>
				<input type="radio" name="subject" value="B"> b) ­Para abrir um link em outra aba no seu navegador usamos target="blanc" <br>
				<input type="radio" name="subject" value="C"> c) A unica maneira de baixar um arquivo em um link é fazendo a hospedagem desse arquivo externamente e colando o link no código.<br>
				<input type="radio" name="subject" value="D"> d) ­A tag de links só funciona com endereços externos <br><br>
  				<input type="submit" value="Submit">
			</form>
		 </p>
		 <h3>Video 2</h3>
		 <p><b>1) Qual atributo altera a font do seu código somente com html?</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) font­family <br>
				<input type="radio" name="subject" value="B"> b) face <br>
				<input type="radio" name="subject" value="C"> c) font­face <br>
				<input type="radio" name="subject" value="D"> d) face­family <br><br>
			</form>
		</p>
		 <p><b>2) Para colorirmos o background inteiro do nosso site, aonde e qual atributo usamos?</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) Atributo Bgcolor no body <br>
				<input type="radio" name="subject" value="B"> b) Atributo color no Body <br>
				<input type="radio" name="subject" value="C"> c) Atributo Background­color no Head <br>
				<input type="radio" name="subject" value="D"> d) Atributo Bgcolor no Head <br><br>
			</form>
		</p>
		 <p><b>3) No código &lth1>&ltfont face="calibri" font­size="2">Aluno IFTM&lt/font> qual tamanho o texto irá respeitar?</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) H1 <br>
				<input type="radio" name="subject" value="B"> b) Font <br>
				<input type="radio" name="subject" value="C"> c) ­Depende do navegador <br>
				<input type="radio" name="subject" value="D"> d) ­Nenhuma das anteriores <br><br>
			</form>
		</p>
		<p><b>4) Um title para sua pagina ele deve ser adcionado aonde? </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) Head <br>
				<input type="radio" name="subject" value="B"> b) Body <br>
				<input type="radio" name="subject" value="C"> c) ­Dentro de uma div chamada Title <br>
				<input type="radio" name="subject" value="D"> d) ­Dentro da TAG &ltcabeçalho> <br><br>
			</form>
		</p>
		<p><b>5) Um title para sua pagina ele deve ser adcionado aonde? </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) &ltins> <br>
				<input type="radio" name="subject" value="B"> b) &ltdel> <br>
				<input type="radio" name="subject" value="C"> c) ­&ltstrong> <br>
				<input type="radio" name="subject" value="D"> d) ­&ltbr> <br><br>
				<input type="submit" value="Submit">
			</form>
		</p>


		<!-- TROCA DE MATERIA -->
		<h2>Sistemas Operacionais</h2>
		 <h3>Video 1</h3>
		 <p><b>1) Qual o Atalho utilizado para abrir o terminal no ubuntu?</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) ctrl+alt+espaço <br>
				<input type="radio" name="subject" value="B"> b) alt+espaço+4 <br>
				<input type="radio" name="subject" value="C"> c) ctrl+alt+t <br>
				<input type="radio" name="subject" value="D"> d) ctrl+alt <br><br>
			</form>
		 </p>
		 <p><b>2) Qual o comando utilizado para criar um diretório?</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) makedir <br>
				<input type="radio" name="subject" value="B"> b) mkdir <br>
				<input type="radio" name="subject" value="C"> c) dirmk <br>
				<input type="radio" name="subject" value="D"> d) maked <br><br>
			</form>
		 </p>
 		 <p><b>3) Qual o comando utilizado para criar um arquivo? </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) ­mkfile <br>
				<input type="radio" name="subject" value="B"> b) mkfile <br>
				<input type="radio" name="subject" value="C"> c) touch <br>
				<input type="radio" name="subject" value="D"> d) ­make <br><br>
			</form>
		 </p>
		 <p><b>4) Qual o comando utilizado para excluir um diretório?</b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) rm ­rf <br>
				<input type="radio" name="subject" value="B"> b) remove <br>
				<input type="radio" name="subject" value="C"> c) ­delete <br>
				<input type="radio" name="subject" value="D"> d) ­clear <br><br>
			</form>
		 </p>
		 <p><b>5) Qual o comando utilizado para visualizar um arquivo? </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) seefile <br>
				<input type="radio" name="subject" value="B"> b) ­cat <br>
				<input type="radio" name="subject" value="C"> c) open <br>
				<input type="radio" name="subject" value="D"> d) ­tac <br><br>
  				<input type="submit" value="Submit">
			</form>
		 </p>
		 <h3>Video 2</h3>
		 <p><b>1) Qual o programa usado para instalar pacotes no ubuntu? </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) apt­install <br>
				<input type="radio" name="subject" value="B"> b) apt­program <br>
				<input type="radio" name="subject" value="C"> c) install <br>
				<input type="radio" name="subject" value="D"> d) apt­get <br><br>
			</form>
		</p>
		 <p><b>2) Qual o comando usado para instalar pacotes no ubuntu? </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) i <br>
				<input type="radio" name="subject" value="B"> b) instalar <br>
				<input type="radio" name="subject" value="C"> c) install <br>
				<input type="radio" name="subject" value="D"> d) get <br><br>
			</form>
		</p>
		 <p><b>3) Qual o programa usado para instalar pacotes no ubuntu? </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) seefile <br>
				<input type="radio" name="subject" value="B"> b) cat <br>
				<input type="radio" name="subject" value="C"> c) ­open <br>
				<input type="radio" name="subject" value="D"> d) ­tac <br><br>
			</form>
		</p>
		<p><b>4) ­Qual o protocolo de comunicação utilizado pelo servidor apache? </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) FTP <br>
				<input type="radio" name="subject" value="B"> b) DNS <br>
				<input type="radio" name="subject" value="C"> c) ­HTTP <br>
				<input type="radio" name="subject" value="D"> d) ­IP <br><br>
			</form>
		</p>
		<p><b>5) Qual a porta padrão utilizada pelo apache? </b> <br>
			<form>
				<input type="radio" name="subject" value="A"> a) 8000 <br>
				<input type="radio" name="subject" value="B"> b) 9096 <br>
				<input type="radio" name="subject" value="C"> c) ­3333 <br>
				<input type="radio" name="subject" value="D"> d) ­80 <br><br>
				<input type="submit" value="Submit">
			</form>
		</p>
	</body>
</html>
