{% extends "base_forms.html" %}
{% block body %}

<h2>Sistemas Operacionais</h2>
 <h3>Video 1</h3>
 <p><b>1) Qual o Atalho utilizado para abrir o terminal no ubuntu?</b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) ctrl+alt+espaço <br>
    <input type="radio" name="subject" value="B"> b) alt+espaço+4 <br>
    <input type="radio" name="subject" value="C"> c) ctrl+alt+t <br>
    <input type="radio" name="subject" value="D"> d) ctrl+alt <br><br>
  </form>
 </p>
 <p><b>2) Qual o comando utilizado para criar um diretório?</b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) makedir <br>
    <input type="radio" name="subject" value="B"> b) mkdir <br>
    <input type="radio" name="subject" value="C"> c) dirmk <br>
    <input type="radio" name="subject" value="D"> d) maked <br><br>
  </form>
 </p>
 <p><b>3) Qual o comando utilizado para criar um arquivo? </b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) ­mkfile <br>
    <input type="radio" name="subject" value="B"> b) mkfile <br>
    <input type="radio" name="subject" value="C"> c) touch <br>
    <input type="radio" name="subject" value="D"> d) ­make <br><br>
  </form>
 </p>
 <p><b>4) Qual o comando utilizado para excluir um diretório?</b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) rm ­rf <br>
    <input type="radio" name="subject" value="B"> b) remove <br>
    <input type="radio" name="subject" value="C"> c) ­delete <br>
    <input type="radio" name="subject" value="D"> d) ­clear <br><br>
  </form>
 </p>
 <p><b>5) Qual o comando utilizado para visualizar um arquivo? </b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) seefile <br>
    <input type="radio" name="subject" value="B"> b) ­cat <br>
    <input type="radio" name="subject" value="C"> c) open <br>
    <input type="radio" name="subject" value="D"> d) ­tac <br><br>
      <input type="submit" value="Submit">
  </form>
 </p>
 <h3>Video 2</h3>
 <p><b>1) Qual o programa usado para instalar pacotes no ubuntu? </b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) apt­install <br>
    <input type="radio" name="subject" value="B"> b) apt­program <br>
    <input type="radio" name="subject" value="C"> c) install <br>
    <input type="radio" name="subject" value="D"> d) apt­get <br><br>
  </form>
</p>
 <p><b>2) Qual o comando usado para instalar pacotes no ubuntu? </b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) i <br>
    <input type="radio" name="subject" value="B"> b) instalar <br>
    <input type="radio" name="subject" value="C"> c) install <br>
    <input type="radio" name="subject" value="D"> d) get <br><br>
  </form>
</p>
 <p><b>3) Qual o programa usado para instalar pacotes no ubuntu? </b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) seefile <br>
    <input type="radio" name="subject" value="B"> b) cat <br>
    <input type="radio" name="subject" value="C"> c) ­open <br>
    <input type="radio" name="subject" value="D"> d) ­tac <br><br>
  </form>
</p>
<p><b>4) ­Qual o protocolo de comunicação utilizado pelo servidor apache? </b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) FTP <br>
    <input type="radio" name="subject" value="B"> b) DNS <br>
    <input type="radio" name="subject" value="C"> c) ­HTTP <br>
    <input type="radio" name="subject" value="D"> d) ­IP <br><br>
  </form>
</p>
<p><b>5) Qual a porta padrão utilizada pelo apache? </b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) 8000 <br>
    <input type="radio" name="subject" value="B"> b) 9096 <br>
    <input type="radio" name="subject" value="C"> c) ­3333 <br>
    <input type="radio" name="subject" value="D"> d) ­80 <br><br>
    <input type="submit" value="Submit">
  </form>
</p>
</body>
</html>

{% endblock %}
