{% extends "base_forms.html" %}
{% block body %}

<h2>Fundamentos de web design</h2>
 <h3>Video 1</h3>
 <p><b>1) O que significa html?</b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) Hypertext Markup Language <br>
    <input type="radio" name="subject" value="B"> b) Hyperlink Markup Language <br>
    <input type="radio" name="subject" value="C"> c) Hyperprogamming Markup Language <br>
    <input type="radio" name="subject" value="D"> d) Nenhuma das anteriores <br><br>
  </form>
 </p>
 <p><b>2) Qual tag da maior importancia para uma parte do seu texto?</b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) strong <br>
    <input type="radio" name="subject" value="B"> b) ins <br>
    <input type="radio" name="subject" value="C"> c) em <br>
    <input type="radio" name="subject" value="D"> d) u <br><br>
  </form>
 </p>
 <p><b>3) Quais tags são essenciais para sua página na internet? </b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) ­html,head,body <br>
    <input type="radio" name="subject" value="B"> b) head, body, foot <br>
    <input type="radio" name="subject" value="C"> c) html, meta, color <br>
    <input type="radio" name="subject" value="D"> d) ­html, body <br><br>
  </form>
 </p>
 <p><b>4) A tag H1 é usada para titulos em seu documento HTML, responda a alternativa correta</b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) H1 é uma tag usada de maneira unica, não pode ser alterada no css <br>
    <input type="radio" name="subject" value="B"> b) A Tag h1 pode substituir a tag title em seu documento <br>
    <input type="radio" name="subject" value="C"> c) ­A tag h1 é um parametro que pode ser editado com css, assim como h2, h3, p e etc. <br>
    <input type="radio" name="subject" value="D"> d) ­H1 pode ser usada como um atributo no meta para dar enfase na sua tag title <br><br>
  </form>
 </p>
 <p><b>5) Sobre links, é correto afirmar: </b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) A tag &lta> &lt/a> é a mais apropriada para usar em links <br>
    <input type="radio" name="subject" value="B"> b) ­Para abrir um link em outra aba no seu navegador usamos target="blanc" <br>
    <input type="radio" name="subject" value="C"> c) A unica maneira de baixar um arquivo em um link é fazendo a hospedagem desse arquivo externamente e colando o link no código.<br>
    <input type="radio" name="subject" value="D"> d) ­A tag de links só funciona com endereços externos <br><br>
      <input type="submit" value="Submit">
  </form>
 </p>
 <h3>Video 2</h3>
 <p><b>1) Qual atributo altera a font do seu código somente com html?</b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) font­family <br>
    <input type="radio" name="subject" value="B"> b) face <br>
    <input type="radio" name="subject" value="C"> c) font­face <br>
    <input type="radio" name="subject" value="D"> d) face­family <br><br>
  </form>
</p>
 <p><b>2) Para colorirmos o background inteiro do nosso site, aonde e qual atributo usamos?</b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) Atributo Bgcolor no body <br>
    <input type="radio" name="subject" value="B"> b) Atributo color no Body <br>
    <input type="radio" name="subject" value="C"> c) Atributo Background­color no Head <br>
    <input type="radio" name="subject" value="D"> d) Atributo Bgcolor no Head <br><br>
  </form>
</p>
 <p><b>3) No código &lth1>&ltfont face="calibri" font­size="2">Aluno IFTM&lt/font> qual tamanho o texto irá respeitar?</b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) H1 <br>
    <input type="radio" name="subject" value="B"> b) Font <br>
    <input type="radio" name="subject" value="C"> c) ­Depende do navegador <br>
    <input type="radio" name="subject" value="D"> d) ­Nenhuma das anteriores <br><br>
  </form>
</p>
<p><b>4) Um title para sua pagina ele deve ser adcionado aonde? </b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) Head <br>
    <input type="radio" name="subject" value="B"> b) Body <br>
    <input type="radio" name="subject" value="C"> c) ­Dentro de uma div chamada Title <br>
    <input type="radio" name="subject" value="D"> d) ­Dentro da TAG &ltcabeçalho> <br><br>
  </form>
</p>
<p><b>5) Um title para sua pagina ele deve ser adcionado aonde? </b> <br>
  <form>
    <input type="radio" name="subject" value="A"> a) &ltins> <br>
    <input type="radio" name="subject" value="B"> b) &ltdel> <br>
    <input type="radio" name="subject" value="C"> c) ­&ltstrong> <br>
    <input type="radio" name="subject" value="D"> d) ­&ltbr> <br><br>
    <input type="submit" value="Submit">
  </form>
</p>

{% endblock %}
