{% extends "base_cursos.html" %}
{% block body %}


        <div class="linha">
            <div class="col-12 Texto01">
              <h1> Arquitetura de computadores </h1>
              <h2> Compreendendo sistemas de numeração <h2>
            </div>
        </div>
        <!-- Fim Topo-->

        <!--Conteudo-->

        <div class="caixafluida">
           <div class="caixa">
               <!-- O que Fazemos-->
               <div class="projeto">
                    <div class="linha">
                        <div class="col-12">
                            <div class="Titulo01">
                                <a name="projeto"></a><img src="static/Imagens/aoc/Titulo01.png" title="Saiba mais sobre o objetivo do nosso projeto" alt="Imagem Logo">
                             </div>
                        </div>
                    </div>

                   <div class="linha projetocentro" >
                        <div class="col-6">
                            <div class="Projeto01">
                              <iframe width="460" height="215" src="https://www.youtube.com/embed/BpHc9QIcpao" frameborder="0" allowfullscreen></iframe>
                             </div>
                        </div>
                        <div class="col-6">
                            <div class="Projeto02">
                                <p class="descrVideo" >Introdução às operações aritméticas com números binários</p>
                             </div>
                        </div>

                        </div>

                   <div class="linha projetocentro" >
                        <div class="col-6">
                            <div class="Projeto01">
                              <iframe width="460" height="215" src="https://www.youtube.com/embed/cNly8DM9vDY" frameborder="0" allowfullscreen></iframe>                             </div>
                        </div>
                        <div class="col-6">
                            <div class="Projeto02">
                                <p class="descrVideo">Introdução à conversão de bases de numeração</p>
                             </div>
                        </div>
               </div>
               <!-- Fim O que Fazemos-->

               <!-- Quem Somos -->
                <div class="projetocursos">
                    <div class="linha">
                        <div class="col-12">
                            <div class="Titulo01">
                                <a name="cursos"></a><img src="static/Imagens/aoc/Titulo02.png" title="Conheça nosso cursos" alt="Imagem Logo">
                             </div>
                        </div>
                    </div>

                   <div class="linha projetocentro" >
                        <div class="linha">
                        <div class="col-4">
                            <img class="courseImage" src="static/Imagens/imagem01.png" alt=""/>
                             </div>
                             <div class="col-6 material">
                                 <a target="_blank" href="/static/material/arquitetura/material.pdf">Download do material</a>
                             </div>
               </div>
               <!-- Fim Quem Somos -->

               <!-- Nossos Cursos -->
               <div class="projetocursos">
                    <div class="linha">
                        <div class="col-12">
                            <div class="Titulo01">
                                <a name="cursos"></a><img src="static/Imagens/aoc/Titulo03.png" title="Conheça nosso cursos" alt="Imagem Logo">
                             </div>
                        </div>
                    </div>

                   <div class="linha projetocentro" >
                        <div class="linha">
                        <div class="col-4">
                                <img class="courseImage" src="static/Imagens/question.png" alt=""/>
                             </div>
                             <div class="col-6 material">
                                 <a href="/arquitetura/questionario"> Questionário de avaliação </a>
                             </div>
               </div>
               <!-- Fim Nossos Cursos -->
{% endblock %}
