<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SI integrador video aulas</title>
	<meta name="keywords" content="aulas, videos, webdesign">
	<meta name="description" content="site de video aulas">

	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/animate.min.css">
	<link rel="stylesheet" href="static/css/et-line-font.css">
	<link rel="stylesheet" href="static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" type="text/css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<div class="preloader">
	<div class="sk-spinner sk-spinner-circle">
       <div class="sk-circle1 sk-circle"></div>
       <div class="sk-circle2 sk-circle"></div>
       <div class="sk-circle3 sk-circle"></div>
       <div class="sk-circle4 sk-circle"></div>
       <div class="sk-circle5 sk-circle"></div>
       <div class="sk-circle6 sk-circle"></div>
       <div class="sk-circle7 sk-circle"></div>
       <div class="sk-circle8 sk-circle"></div>
       <div class="sk-circle9 sk-circle"></div>
       <div class="sk-circle10 sk-circle"></div>
       <div class="sk-circle11 sk-circle"></div>
       <div class="sk-circle12 sk-circle"></div>
    </div>
</div>

<section class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">
				<img id="logo" src="static/imagens/logo.png" />
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#work" class="smoothScroll">O QUE FAZEMOS</a></li>
				<li><a href="#about" class="smoothScroll">SOBRE</a></li>
				<li><a href="#team" class="smoothScroll">EQUIPE</a></li>
				<li><a href="#portfolio" class="smoothScroll">CURSOS</a></li>
				<li><a href="#contact" class="smoothScroll">CONTATO</a></li>
			</ul>
		</div>
	</div>
</section>

<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>CURSOS DE TECNOLOGIA E ÁREAS RELACIONADAS</h3>
				<h1>SI INTEGRADOR</h1>
				<hr>
				<a href="#work" class="smoothScroll btn btn-danger">O QUE FAZEMOS</a>
				<a href="#contact" class="smoothScroll btn btn-default">CONTATO</a>
			</div>
		</div>
	</div>
</section>

<section id="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>01</strong>
					<h1 class="heading bold">O QUE FAZEMOS</h1>
					<hr>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<i class="icon-cloud medium-icon"></i>
					<h3>CURSOS DE TECNOLOGIA</h3>
					<hr>
					<p> Desenvolvimento de cursos especializados na área de tecnologia e afins. </p>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-browser medium-icon"></i>
						<h3>DESENVOLVIMENTO WEB</h3>
					<hr>
					<p> Desenvolvimento de sistemas web modernos e bacanas </p>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<i class="icon-video medium-icon"></i>
					<h3>VIDEO AULAS</h3>
					<hr>
					<p> Criação de video aulas bacanas e personalizadas. </p>
			</div>

		</div>
	</div>
</section>

<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>02</strong>
					<h1 class="heading bold">SOBRE</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<img src="static/images/about-img.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12">
				<h3 class="bold">SI INTEGRADOR</h3>
					<h1 class="heading bold">Melhor empresa de sesenvolvimento de cursos do uiniverso</h1>

				<div>
					<p>Dedicados e focados com o objetivo único de desenvolver cursos envolventes e com qualidade superior,
					com os temas mais atuais do mercado de tecnologia.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>03</strong>
					<h1 class="heading bold">EQUIPE</h1>
					<hr>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
				<div class="team-wrapper">
					<img src="static/imagens/avatar.png" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Simonini</h4>
							<h3>Senior Developer</h3>
						</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
				<div class="team-wrapper">
					<img src="static/imagens/avatar.png" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Rafael</h4>
							<h3>Senior business intelligence developer</h3>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
				<div class="team-wrapper">
					<img src="static/imagens/avatar.png" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Leonardo</h4>
							<h3>Senior quality analist</h3>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
				<div class="team-wrapper">
					<img src="static/imagens/avatar.png" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Joelson</h4>
							<h3>Rock star designer</h3>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>04</strong>
					<h1 class="heading bold">CURSOS</h1>
					<hr>
				</div>
				<div class="iso-section">
					<ul class="filter-wrapper clearfix">
                   		 <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
											 <li><a href="#" class="opc-main-bg" data-filter=".arq">ARQUITETURA DE COMPUTADORES</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".so">SISTEMAS OPERACIONAIS</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".met">METODOLOGIA CIENTÍFICA</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".ingles">INGLES</a></li>
											 <li><a href="#" class="opc-main-bg" data-filter=".logica">LÓGICA DE PROGRAMAÇÃO</a></li>
											 <li><a href="#" class="opc-main-bg" data-filter=".fwd">WEB DESIGN</a></li>
									</ul>
           		<div class="iso-box-section wow fadeIn cursosBox" data-wow-delay="0.9s">
           			<div class="iso-box-wrapper col4-iso-box">

           				 <div class="iso-box arq col-lg-4 col-md-4 col-sm-6">
           				 	<a href="static/imagens/arq.png" data-lightbox-gallery="portfolio-gallery">
											<img src="static/imagens/arq.png" alt="arquitetura de computadores"></a>
           				 </div>

           				 <div class="iso-box so col-lg-4 col-md-4 col-sm-6">
           				 	<a href="static/imagens/so.png" data-lightbox-gallery="portfolio-gallery">
											<img src="static/imagens/so.png" alt="Sistemas operacionais"></a>
           				 </div>

           				 <div class="iso-box met col-lg-4 col-md-4 col-sm-6">
           				 	<a href="static/imagens/met.png" data-lightbox-gallery="portfolio-gallery">
											<img src="static/imagens/met.png" alt="Metodologia científica"></a>
           				 </div>

           				 <div class="iso-box ingles col-lg-4 col-md-4 col-sm-6">
           				 	<a href="static/imagens/ingles.png" data-lightbox-gallery="portfolio-gallery">
											<img src="static/imagens/ingles.png" alt="Inglês instrumental"></a>
           				 </div>

           				 <div class="iso-box logica col-lg-4 col-md-4 col-sm-6">
           				 	<a href="static/imagens/logic.png" data-lightbox-gallery="portfolio-gallery">
											<img src="static/imagens/logic.png" alt="Lógica de programação"></a>
           				 </div>

           				 <div class="iso-box fwd col-lg-4 col-md-4 col-sm-6">
           				 	<a href="static/imagens/web.png" data-lightbox-gallery="portfolio-gallery">
											<img src="static/imagens/web.png" alt="portfolio img"></a>
           				 </div>
           			</div>
           		</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>06</strong>
						<h1 class="heading bold">CONTATO</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 contact-info">
				<h2 class="heading bold">INFORMAÇÕES DE CONTATO</h2>
				<p>Entre em contato conosco para fazer um orçamento ou apenas para bater um papo.</p>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
					<p>contato@siintegrador.com.br</p>
				</div>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> TELEFONES</h3>
					<p> 55 (034) 3232 5454 | 55 (034) 99555 1111 </p>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.6s">
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" placeholder="NOME" name="name">
					</div>
					<div class="col-md-6 col-sm-6">
						<input type="email" class="form-control" placeholder="EMAIL" name="email">
					</div>
					<div class="col-md-12 col-sm-12">
						<textarea class="form-control" placeholder="MENSAGEM" rows="7" name="message"></textarea>
					</div>
					<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
						<input type="submit" class="form-control" value="ENVIAR MENSAGEM">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright © Si integrador, INSTITUTO FEDERAL DO TRIÂNGULO MINEIRO 2016</p>
				<hr>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/smoothscroll.js"></script>
<script src="static/js/isotope.js"></script>
<script src="static/js/imagesloaded.min.js"></script>
<script src="static/js/nivo-lightbox.min.js"></script>
<script src="static/js/jquery.backstretch.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/custom.js"></script>

</body>
</html>
