{% extends "base.html" %}
{% block body %}
        <!--Conteudo-->

        <div class="caixafluida">
           <div class="caixa">
               <!-- O que Fazemos-->
               <div class="projeto">
                    <div class="linha">
                        <div class="col-dg-12">
                            <div class="Titulo01">
                                <a name="projeto">
                                    <img src="static/Imagens/Titulo01.png" title="Saiba mais sobre o objetivo do nosso projeto" alt="Imagem Logo"/>
                                </a>
                             </div>
                        </div>
                    </div>

                   <div class="linha projetocentro" >
                        <div class="col-dg-4">
                            <div class="Projeto01">
                                <img src="static/Imagens/projeto01.png" title="Cursos de Tecnologia" alt="Imagem Logo">
                                <p>Desenvolvimento de cursos especializados na área de tecnologia e afins.</p>
                             </div>
                        </div>
                        <div class="col-dg-4">
                            <div class="Projeto02">
                                <img src="static/Imagens/projeto02.png" title="Video Aulas" alt="Imagem Logo">
                                <p>Criação de Video Aulas interativas sobre temas abordados no momento.</p>
                             </div>
                        </div>
                        <div class="col-dg-4">
                            <div class="Projeto03">
                                <img src="static/Imagens/projeto03.png" title="Materiais de Apoio" alt="Imagem Logo">
                                <p>Materiais de Apoio atualizados, todos disponibilizados sem custo.</p>
                             </div>
                        </div>
                    </div>
               </div>
               <!-- Fim O que Fazemos-->

               <!-- Quem Somos -->
                <div class="sobre">
                    <div class="linha">
                        <div class="col-dg-12">
                            <div class="Titulo01">
                                <a name="sobre"></a><img src="static/Imagens/Titulo02.png" title="Saiba mais sobre quem somos" alt="Imagem Logo">
                             </div>
                        </div>
                    </div>

                    <div class="linha">
                        <div class="col-dg-3">
                            <div class="imagem01">
                                <img src="static/Imagens/quem_somos.jpg" title="Somos alunos, sempre buscando novas expêrencia" alt="Imagem Logo">
                             </div>
                        </div>

                        <div class="col-dg-9">
                            <div class="textosobre">
                                <p>Somos alunos do IFTM (Instituto Federal de Educação, Ciência e Tecnologia do Triângulo Mineiro) Campus Uberlândia Centro, cursamos Tecnologia e Sistemas para Internet e o nosso projeto tem como objetivo disponibilizar conteúdos didáticos sobre disciplinas do nosso primeiro período, com foco em matérias especificas de cada disciplina aqui você encontrará vídeo aulas, materiais de apoio e resoluções de exercícios.
                                    <br><br> Lembrando<br>
                                        - A suas dúvidas são muito importante, então quando ocorrer nos envie.<br>
                                        - Seremos sempre bem receptivos a criticas, sugestões e elogios.<br>
                                        - Disponibilizamos nosso material via email, entrar em contato sintegradoriftm@gmail.com <br>
                                </p>

                             </div>
                        </div>
                    </div>
               </div>
               <!-- Fim Quem Somos -->

               <!-- Nossos Cursos -->
               <div class="projetocursos">
                    <div class="linha">
                        <div class="col-dg-12">
                            <div class="Titulo01">
                                <a name="cursos"></a><img src="static/Imagens/Titulo03.png" title="Conheça nosso cursos" alt="Imagem Logo">
                             </div>
                        </div>
                    </div>

                   <div class="linha projetocentro" >
                        <div class="col-dg-4">
                            <div class="curso">
                                <a href="/arquitetura"><img src="static/Imagens/algoritmo.png" title="ARQUITETURA E ORGANIZAÇÃO DE COMPUTADORES" alt="Imagem Logo"></a>
                             </div>
                        </div>
                        <div class="col-dg-4">
                            <div class="curso">
                                 <a href="/webdesign"><img src="static/Imagens/designer.png" title="FUNDAMENTOS DE WEB DESIGN I" alt="Imagem Logo"></a>
                             </div>
                        </div>
                        <div class="col-dg-4">
                            <div class="curso">
                                 <a href="/logica"><img src="static/Imagens/logica.png" title="LÓGICA DE PROGRAMAÇÃO" alt="Imagem Logo"></a>
                             </div>
                        </div>
                    </div>

                    <div class="linha projetocentro" >
                        <div class="col-dg-4">
                            <div class="curso">
                                 <a href="/ingles"><img src="static/Imagens/ingles.png" title="INGLÊS INSTRUMENTAL" alt="Imagem Logo"></a>
                             </div>
                        </div>
                        <div class="col-dg-4">
                            <div class="curso">
                                 <a href="/metodologia"><img src="static/Imagens/metodologia.png" title="METODOLOGIA CIENTÍFICA" alt="Imagem Logo"></a>
                             </div>
                        </div>
                        <div class="col-dg-4">
                            <div class="curso">
                                 <a href="/sistemasop"><img src="static/Imagens/sistemas.png" title="SISTEMAS OPERACIONAIS" alt="Imagem Logo"></a>
                             </div>
                        </div>
                    </div>
                    <br>
                    <br>
               </div>
               <!-- Fim Nossos Cursos -->

               <!-- Contato -->
               <div class="projetocontato">
                    <div class="linha">
                        <div class="col-dg-12">
                            <div class="Titulo01">
                                <a name="contato">
                                  <img src="static/Imagens/Titulo04.png" title="Contato" alt="Imagem Logo">
                                </a>
                           </div>
                        </div>
                    </div>
                    <div class="linha">
                      <div class="formContato col-dg-6">
                        <form action="/contato" method="POST">
                            <input id="nomeField"  name="nomeField" type="text" placeholder="NOME">
                            <input id="emailField" name="emailField" type="text" placeholder="EMAIL">
                            <br/>
                            <textarea class="col-dg-12" id="mensagemField" name="mensagemField" placeholder="MENSAGEM"></textarea>
                            <br/>
                            <input type="submit" id="submitContato" value="ENVIAR MENSAGEM"/>
                        </form>
                      </div>
                      <img class="contatoImg" src="static/Imagens/contato.jpg" alt="contato">
                    </div>
               </div>

           </div>
           <!--Fim Conteudo-->
           {% endblock %}
