<!DOCTYPE html>
<html>
    <head>
        <title>SI Integrador</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/estilo.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="static/static/Imagens/icon.gif" type="image/gif" >
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script src="static/js/javascript.js" type="text/javascript"></script>
    </head>
    <body>
        <!--Topo-->
            <div class="linha espaco"><a name="home"></a>
                <div class="col-2"> .</div>
                <div class="col-8">
                    <div class="linha">
                        <div class="menu">
                            <div class="col-4">
                                <div class="logo">
                                    <a href="#home"><img src="static/Imagens/logo.png" title="Projeto SI Integrador" alt="Imagem Logo"></a>
                                </div>
                            </div>
                            <div class=" col-8">
                                <ul class="opcoes">
                                    <li><a href="#home"  title="Página Inicial" style="color:white; background-color: #52B6EC; ">HOME</a></li>
                                    <li><a href="#projeto" title="O Que Fazemos">PROJETO</a></li>
                                    <li><a href="#sobre" title="Quem Somos">SOBRE</a></li>
                                    <li><a href="#cursos" title="Nossos Cursos">CURSOS</a></li>
                                    <li><a href="#contato" title="Contato">CONTATO</a></li>
                                    <li class="icon"> <a href="javascript:void(0);" onclick="myFunction()" title="Abrir Menu">&#9776;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"> .</div>
            </div>

            <div class="linha">
                <div class="col-12">
                    <div class="Texto01">
                        <p>Coisinha do demonio que não roda responsivo</p>
                    </div>
                </div>
            </div>
        <!-- Fim Topo-->

        <!--Conteudo-->

        <div class="caixafluida">
           <div class="caixa">
               <!-- O que Fazemos-->
               <div class="projeto">
                    <div class="linha">
                        <div class="col-12">
                            <div class="Titulo01">
                                <a name="projeto"></a><img src="static/Imagens/Titulo01.png" title="Saiba mais sobre o objetivo do nosso projeto" alt="Imagem Logo">
                             </div>
                        </div>
                    </div>

                   <div class="linha projetocentro" >
                        <div class="col-4">
                            <div class="Projeto01">
                                <img src="static/Imagens/projeto01.png" title="Cursos de Tecnologia" alt="Imagem Logo">
                                <p>Desenvolvimento de cursos especializados na área de tecnologia e afins.</p>
                             </div>
                        </div>
                        <div class="col-4">
                            <div class="Projeto02">
                                <img src="static/Imagens/projeto02.png" title="Video Aulas" alt="Imagem Logo">
                                <p>Criação de Video Aulas interativas sobre temas abordados no momento.</p>
                             </div>
                        </div>
                        <div class="col-4">
                            <div class="Projeto03">
                                <img src="static/Imagens/projeto03.png" title="Materiais de Apoio" alt="Imagem Logo">
                                <p>Materiais de Apoio atualizados, todos disponibilizados sem custo.</p>
                             </div>
                        </div>
                    </div>
               </div>
               <!-- Fim O que Fazemos-->

               <!-- Quem Somos -->
                <div class="sobre">
                    <div class="linha">
                        <div class="col-12">
                            <div class="Titulo01">
                                <a name="sobre"></a><img src="static/Imagens/Titulo02.png" title="Saiba mais sobre quem somos" alt="Imagem Logo">
                             </div>
                        </div>
                    </div>

                    <div class="linha">
                        <div class="col-3">
                            <div class="imagem01">
                                <img src="static/Imagens/imagem01.png" title="Somos alunos, sempre buscando novas expêrencia" alt="Imagem Logo">
                             </div>
                        </div>

                        <div class="col-9">
                            <div class="textosobre">
                                <p>Somos alunos do IFTM (Instituto Federal de Educação, Ciência e Tecnologia do Triângulo Mineiro) Campus Uberlândia Centro, cursamos Tecnologia e Sistemas para Internet e o nosso projeto tem como objetivo disponibilizar conteúdos didáticos sobre disciplinas do nosso primeiro período, com foco em matérias especificas de cada disciplina aqui você encontrará vídeo aulas, materiais de apoio e resoluções de exercícios.
                                    <br><br> Lembrando<br>
                                        - A suas dúvidas são muito importante, então quando ocorrer nos envie.<br>
                                        - Seremos sempre bem receptivos a criticas, sugestões e elogios.<br>
                                        - Disponibilizamos nosso material via email, entrar em contato sintegradoriftm@gmail.com <br>
                                </p>

                             </div>
                        </div>
                    </div>
               </div>
               <!-- Fim Quem Somos -->

               <!-- Nossos Cursos -->
               <div class="projetocursos">
                    <div class="linha">
                        <div class="col-12">
                            <div class="Titulo01">
                                <a name="cursos"></a><img src="static/Imagens/Titulo03.png" title="Conheça nosso cursos" alt="Imagem Logo">
                             </div>
                        </div>
                    </div>

                   <div class="linha projetocentro" >
                        <div class="col-4">
                            <div class="curso">
                                <a href="#"><img src="static/Imagens/algoritmo.png" title="ARQUITETURA E ORGANIZAÇÃO DE COMPUTADORES" alt="Imagem Logo"></a>
                             </div>
                        </div>
                        <div class="col-4">
                            <div class="curso">
                                 <a href="#"><img src="static/Imagens/designer.png" title="FUNDAMENTOS DE WEB DESIGN I" alt="Imagem Logo"></a>
                             </div>
                        </div>
                        <div class="col-4">
                            <div class="curso">
                                 <a href="#"><img src="static/Imagens/logica.png" title="LÓGICA DE PROGRAMAÇÃO" alt="Imagem Logo"></a>
                             </div>
                        </div>
                    </div>

                    <div class="linha projetocentro" >
                        <div class="col-4">
                            <div class="curso">
                                 <a href="#"><img src="static/Imagens/ingles.png" title="INGLÊS INSTRUMENTAL" alt="Imagem Logo"></a>
                             </div>
                        </div>
                        <div class="col-4">
                            <div class="curso">
                                 <a href="#"><img src="static/Imagens/metodologia.png" title="METODOLOGIA CIENTÍFICA" alt="Imagem Logo"></a>
                             </div>
                        </div>
                        <div class="col-4">
                            <div class="curso">
                                 <a href="#"><img src="static/Imagens/sistemas.png" title="SISTEMAS OPERACIONAIS" alt="Imagem Logo">
                             </div>
                        </div>
                    </div>
               </div>
               <!-- Fim Nossos Cursos -->

               <!-- Contato -->
               <div class="projetocontato">
                    <div class="linha">
                        <div class="col-12">
                            <div class="Titulo01">
                                <a name="contato"></a><img src="static/Imagens/Titulo04.png" title="Contato" alt="Imagem Logo"></a>
                             </div>
                        </div>
                    </div>
               </div>

           </div>
           <!--Fim Conteudo-->

                <div class="nomeprojeto">
                    <div class="linha">
                        <div class="col-12">
                            <div class="direitos">
                                <p>Copyright © Si integrador, Instituto Federal de Educação, Ciência e Tecnologia 2016</p>
                             </div>
                        </div>
                    </div>

                    <div class="linha">
                        <div class="col-4">
                            <div class="vazio">
                                .
                             </div>
                        </div>
                        <div class="col-4">
                            <div class="logofinal">
                                <img src="static/Imagens/logo.png" title="Muito obrigado, por visitar nossa projeto" alt="Imagem Logo"></a>
                             </div>
                        </div>
                        <div class="col-4">
                            <div class="iftm">
                                <a href="http://www.iftm.edu.br/uberlandiacentro/"><img src="static/Imagens/iftm.png" title="Conheça mais sobre a nossa Universidade" alt="Imagem Logo"></a>
                             </div>
                        </div>
                    </div>
               </div>
        </div>
    </body>
</html>
