{% extends "base_cursos.html" %}
{% block body %}
<!--Conteudo-->

<div class="caixafluida">
   <div class="caixa">
       <!-- O que Fazemos-->
       <div class="projeto">
            <div class="linha">
                <div class="col-12">
                    <div class="Titulo01">
                        <a name="projeto"></a><img src="static/Imagens/ingl/Titulo01.png" title="Saiba mais sobre o objetivo do nosso projeto" alt="Imagem Logo">
                     </div>
                </div>
            </div>

           <div class="linha projetocentro" >
                <div class="col-6">
                    <div class="Projeto01">
                        <iframe width="460" height="215" src="https://www.youtube.com/embed/SGP9vSQvoRQ" frameborder="0" allowfullscreen></iframe>
                     </div>
                </div>
                <div class="col-6">
                    <div class="Projeto02">
                        <p class="descrVideo">Criação de Video Aulas interativas sobre temas abordados no momento.</p>
                     </div>
                </div>

                </div>

           <div class="linha projetocentro" >
                <div class="col-6">
                    <div class="Projeto01">
                        <iframe width="460" height="215" src="https://www.youtube.com/embed/SGP9vSQvoRQ" frameborder="0" allowfullscreen></iframe>
                     </div>
                </div>
                <div class="col-6">
                    <div class="Projeto02">
                        <p class="descrVideo">Criação de Video Aulas interativas sobre temas abordados no momento.</p>
                     </div>
                </div>
       </div>
       <!-- Fim O que Fazemos-->

       <!-- Quem Somos -->
        <div class="projetocursos">
            <div class="linha">
                <div class="col-12">
                    <div class="Titulo01">
                        <a name="cursos"></a><img src="static/Imagens/ingl/Titulo02.png" title="Conheça nosso cursos" alt="Imagem Logo">
                     </div>
                </div>
            </div>

           <div class="linha projetocentro" >
                <div class="linha">
                <div class="col-4">
                    <img src="static/Imagens/imagem01.png" alt=""/>
                     </div>
                    <div class="col-6">
                        <h1> Material de apoio </h1>
                        <p> clique na imagem ao lado e responda nosso questionário </p>
                    </div>
       </div>
       <!-- Fim Quem Somos -->

       <!-- Nossos Cursos -->
       <div class="projetocursos">
            <div class="linha">
                <div class="col-12">
                    <div class="Titulo01">
                        <a name="cursos"></a><img src="static/Imagens/ingl/Titulo03.png" title="Conheça nosso cursos" alt="Imagem Logo">
                     </div>
                </div>
            </div>

           <div class="linha projetocentro" >
                <div class="linha">
                <div class="col-4">
                        <img src="static/Imagens/question.png" alt=""/>
                     </div>
                    <div class="col-6">
                        <h1> Questionários </h1>
                        <p> clique na imagem ao lado e responda nosso questionário </p>
                    </div>
       </div>
       <!-- Fim Nossos Cursos -->


   <!--Fim Conteudo-->

{% endblock %}
